body {
    background-image: linear-gradient(rgb(214, 208, 208), black);
    color: #fff;
}

.about-us {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #000;
}

.para2 {
    font-size: 25px;
    letter-spacing: 1px;
    padding: 20px;
    color: black;
    line-height: 40px;
}

.About {
    padding: 30px;
    color: white;
}

.heading2 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #000;
}

.Letter {
    padding: 30px;
    background-color: rgb(230, 216, 216);
    margin: 100px;
    border-radius: 50px;
}

.para {
    font-size: 25px;
    letter-spacing: 1px;
    padding: 20px;
    line-height: 40px;
    color: #000;
    display: flex;
    justify-content: flex-start
}


p {
    text-align: left;
}